{% extends "base.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block contenido %}
<p>Por favor digite su correo electrónico para recibir instrucciones y recuperar su contraseña.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail:</label> {{ form.email }} <input type="submit" value="Recuperar contraseña" /></p>
</form>
{% endblock %}